

* {
    margin: 0px;
    padding: 0px;
    
}

body {
    
    background-color: #F9F7F4;
}

.header_img {
    display: flex;
    width: 100%;
    /*height: 100%;*/
}

.header_img_fixed {
visibility: hidden;
}

.header_img_низ {
    display: flex;
    width: 100%;
    
    /*height: 100%;*/
}

.header_container {
    position: relative; display: flex; justify-content: center; z-index: 1;
}

.header {
    height: 100%;
    max-width: 1170px;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.header_fixed2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 88px;
    
    background: rgba(243, 239, 232, 0.6);
    backdrop-filter: blur(27px);

    animation: showElement;
    animation-duration: 1s;
}

.header_fixed{
    position: fixed;
    top: 0;
    left: 0;
    /*padding: 10px 0;*/
    animation: showElement;
    animation-duration: 1s;
}

@keyframes showElement{
    0% {
        opacity: 0;
        top: -70px;
    }
    
    100% {
        opacity: 1;
        top: 0;
    }
}

.logo_black {
position: absolute;
visibility: hidden;
}

.logo_fixed {
    visibility: hidden;
}

.logo_black_fixed {
    visibility: visible;
}

.header_nav {
    display: flex;
flex-direction: row;
justify-content:left;
align-items: center;
padding: 0px;
gap: 50px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 142%;
/* or 28px */


/* White */

color: #FFFFFF;
}

.header_nav_item:hover {
    border-bottom: 1px solid #FFFFFF;
line-height: 142%;
}

.header_nav_item2:hover {
    border-bottom: 1px solid #1B1F2B;
line-height: 142%;
}


.header_nav_item_fixed {
    /*text-decoration: underline;*/
    color: #1B1F2B;
}

.black_black {
    color: #1B1F2B;
}

.header_number {
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 142%;
color: #FFFFFF;
}

.header_number_fixed {
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 142%;
color: #1B1F2B;
}

.welcome_container {
    position: relative; 
    display: flex; 
    justify-content: center;
}

.purrfect_adventures {
    
    max-width: 100%;
    
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 109%;
/* or 105px */

text-align: center;
letter-spacing: 0.02em;

/* White */

color: #FFFFFF;
}

.welcome_container_низ {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    text-align: center;
    height: 100%;
    max-width: 1170px;
    justify-content: space-around;
    margin-top: 4%;
    max-height: 80%;
}

.purrfect_adventures_under {
    width: 562px;
    align-self: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 142%;
/* or 28px */

text-align: center;

/* White */

color: #FFFFFF;
}

.button1 {
    background: #FFFFFF;
border-radius: 10px;
border-width: 0px;
/*padding: 5px 20px;*/
width: 6.1vmax;  height: 1.7vmax;
}

.button1_text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
font-size: 0.9vmax;
line-height: 142%;
/* or 24px */

letter-spacing: -0.01em;

/* Black */

color: #1B1F2B;
}

.Выбери_свой_тур {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 59px;
line-height: 124%;
/* or 73px */

text-align: center;

/* Black */

color: #1B1F2B;
margin-top: 135px;
}


.Выбери_свой_тур-under {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 35px;
    display: flex;
    padding: 0px;
    gap: 30px;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
    /* identical to box height, or 28px */


    /* Black */

    color: #1B1F2B;
}

.card_container {
    
    margin-top: 100px;
    flex-direction: row;
    /*display: flexbox;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;*/
    
    gap: 30px;
    /*width: 70%;*/
/*width: 1170px;*/
align-self: center;
max-width: 1170px;
row-gap:30px;
}

.card_container2 {
    
    margin-top: 100px;
    flex-direction: row;
    /*display: flexbox;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;*/
    
    gap: 30px;
    /*width: 70%;*/
/*width: 1170px;*/
align-self: center;
max-width: 1170px;
row-gap:50px;
}

.card_img {


    width: 370px;
height: 531px;

border-radius: 50px;
}

.card_img_gradient {

    height: 531px;
    border-radius: 50px;
    position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}

.card_text-container-top {
    top: 50px;
    left: 50px;
    
position: absolute;
gap: 16px;
}

.card_text_top-top {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 122%;
/* or 43px */


/* White */

color: #FFFFFF;
}

.card_text_top-bottom {
    margin-top: 16px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 142%;
/* or 24px */

letter-spacing: -0.01em;

/* White */

color: #FFFFFF;

}

.card_text-container-bottom {
    left: 50px;
    bottom: 50px;
    
position: absolute;
gap: 16px;
}

.card_text_bottom {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 122%;
/* identical to box height, or 28px */


/* White */

color: #FFFFFF;

}

.vector {
    display: inline;
    margin-left: 15px;
}

.align{
    display:flex; flex-direction: column;  align-self: center; align-items: center; margin-top: 135px;
}

.Собери_свой_тур_контейнер {
    display:flex; flex-direction: column;  align-self: center;
}

.Собери_свой_тур {
    margin-top: 135px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 59px;
    line-height: 124%;
    /* or 73px */

    text-align: center;

    /* Black */

    color: #1B1F2B;
}

.Собери_свой_тур2 {
    margin-top: 135px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 59px;
    line-height: 124%;
    /* or 73px */

    text-align: center;

    /* Black */

    color: #1B1F2B;
}

.Собери_свой_тур_under {
    margin-top: 30px;
    display: flex;
    max-width: 400px;
    align-self: center;
    
/* p-normal */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 142%;
/* or 28px */

text-align: center;

/* Gray 300 */

color: #A6A6A6;
text-align: center;
align-items: center;
align-self: center;
justify-content: center;

}

.inputs_container {
    margin-top: 100px;

    display:flex;
    flex-direction: row;  
    align-self: center; 
    max-width: 1170px; 
    flex-wrap: wrap; 
    background-color: #FFFFFF; 

    padding: 0px; 
    padding-top: 70px;
    padding-bottom: 70px;
    /*padding-inline: 70px;*/

    border-radius: 50px;
    row-gap: 33px;
    column-gap: 30px; 
    justify-content: center;
    /*justify-content: flex-start;*/
}

.input {
    margin-top: 8px;
    display: flex;
    padding: 20px;
gap: 10px;

width: 458px;
height: 28px;

background: #F9F7F4;
/* Beige 200 */

border: 1px solid #F4F0E9;
border-radius: 10px;
}

.input_label {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 142%;

color: #1B1F2B;
}

::placeholder {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 142%;

color: #A6A6A6;
}

textarea {
resize: none;
}

.comment_input {
    padding: 20px;
gap: 10px;

width: 988px;
height: 152px;

/* Beige 100 */

background: #F9F7F4;
/* Beige 200 */

border: 1px solid #F4F0E9;
border-radius: 10px;

}

.age-check_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    
    /* or 28px */
    
    
    /* Black */
    
    color: #1B1F2B;
    vertical-align: middle;
    
    }

    .contract_check {
        margin-left: 19px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    vertical-align: middle;
    /* or 24px */
    
    letter-spacing: -0.01em;
    
    /* Gray 300 */
    
    color: #A6A6A6;
    }
    
    .Найти_тур {
     padding: 15px 30px;
     gap: 10px;

     width: 235px;
     height: 58px;

     background: #286562;
     border-radius: 10px;
     border-width: 0;

     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 142%;

     color: #FFFFFF;
    }

    .Отмена {
     padding: 15px 30px;
     gap: 10px;
        
     width: 235px;
     height: 58px;

     background: #E0F0E5;
     border-radius: 10px;
     border-width: 0;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 142%;

     color: #286562;

    }

    .picture_board-container{
        display: flex;
        flex-direction: row; 
        gap: 30px; 
        max-width: 1920px; 
        flex-wrap: wrap; 
        justify-content: center; 
        margin-top: 100px;
    }

    .picture_board {
        display: flex;
        justify-content: center;
    }

    .travel_photo-first-third_row {
        width: 442.5px;
        height: 300px;

        border-radius: 50px;
    }

    .travel_photo-1 {
        width: 442.5px;
        height: 300px;
   
        border-radius: 50px;
       }

    .travel_photo-2 {
        width: 442.5px;
        height: 300px;
   
        border-radius: 50px;
       }

    .travel_photo-3 {
        width: 442.5px;
        height: 300px;
   
        border-radius: 50px;
       }

    .travel_photo-4 {
        width: 442.5px;
        height: 300px;
   
        border-radius: 50px;
       }

    .travel_photo-second_row {
     width: 349.16px;
     height: 300px;
   
     border-radius: 50px;
     }

     .travel_photo-5 {
        width: 349.16px;
        height: 300px;
      
        border-radius: 50px;
        }

    .travel_photo-6 {
        width: 349.16px;
        height: 300px;
      
        border-radius: 50px;
        }

    .travel_photo-7 {
        width: 349.16px;
        height: 300px;
      
        border-radius: 50px;
        }

    .travel_photo-8 {
        width: 349.16px;
        height: 300px;
      
        border-radius: 50px;
        }

    .travel_photo-9 {
        width: 349.16px;
        height: 300px;
      
        border-radius: 50px;
        }
        
    .travel_photo-10 {
        width: 442.5px;
        height: 300px;
   
        border-radius: 50px;
       }

    .travel_photo-11 {
        width: 442.5px;
        height: 300px;
   
        border-radius: 50px;
       }

    .travel_photo-12 {
        width: 442.5px;
        height: 300px;
   
        border-radius: 50px;
       }

    .travel_photo-13 {
        width: 442.5px;
        height: 300px;
   
        border-radius: 50px;
       }


     .review_container {
        display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         margin-top: 100px;
         gap: 30px;
         justify-content: center;
         align-self: center;
    }

    .review_box {
        display: flex;
         flex-direction: column;
         padding-left: 40px;
         padding-right: 40px;
         padding-top: 40px;
         padding-bottom: 40px;
         background: #F4F0E9;
         border-radius: 50px;
         position: relative;
    }

     .Отзывы {
     max-width: 490px;

     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-size: 23px;
     line-height: 122%;

     color: #1B1F2B;

     }

     .review_name {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 122%;

        color: #1B1F2B;
     }

     .review_tour {
        /*flex-grow: 1;
        width: 415px;*/

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 142%;
        /* or 24px */

        letter-spacing: -0.01em;

        /* Gray 300 */

        color: #A6A6A6;
     }

     .review_img {
     width: 75px;
     height: 75px;

     border-radius: 100px;
     }

     .card_img_story {
    
        width: 1170px;
    height: 567px;
    
    border-radius: 50px;
    }

    .card_story_text_top-bottom {
        margin-top: 37px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
    /* or 24px */
    
    letter-spacing: -0.01em;
    
    /* White */
    
    color: #FFFFFF;
    
    }

    .card_text-container-bottom-right {
        display: flex;
        flex-direction: row;
        right: 60px;
        bottom: 60px;
        
        position: absolute;
        gap: 35px;
    }

    .card_text_bottom-right {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 142%;
        /* or 28px */


        /* White */

        color: #FFFFFF;
    }

    .margin2 {
        margin-top: 135px;
    }

    .footer_img {
        height: 370px;
        width:370px;
        border-radius: 50px;
    }

    .footer_text-top {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 122%;

        color: #1B1F2B;
    }

    .footer_text-bottom {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 142%;
        /* or 28px */


        /* Gray 300 */

        color: #A6A6A6;
    }

    .footer {
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
        padding: 0px;

        height: 88px;

        /* Beige 200 */

        background: #F4F0E9;
        max-width: 1920px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        
    }

    .footer2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
        padding: 0px;

        height: 88px;

        /* Beige 200 */

        background: #F4F0E9;
        max-width: 1168px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        
        
    }

    .social_container {
        display: flex; flex-direction: row; gap: 25px;
   }

    .our_social {
        height: 28px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 142%;
        /* or 28px */


        /* Gray 300 */
        flex-grow: 3;
        color: #A6A6A6;
    }

    .social {
        gap: 10px;
        display: flex;
        vertical-align: top;
        height: 28px;
        vertical-align: top;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 142%;


        color: #1B1F2B;
    }

    .footer_card_text-container-bottom {
        left: 60px;
        bottom: 60px;
        
        position: absolute;
        gap: 16px;
    }

    .footer_card_img_gradient {
        border-radius: 50px;
        height: 567px;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;

        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
    }

@media screen and (max-width: 1024px) {

    .header_img {
        align-self: center;
        display: flex;
        width: 100%;
        
        /*width:1024px;*/
        /*height: 743px;*/
        
        /*object-fit:cover;*/
        
    }

    .header_img_низ {
        display: flex;
        width: 100%;
        
        /*height: 100%;*/
    }

    .welcome_container_низ {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-items: center;
        text-align: center;
        height: 100%;
        max-width: 914px;
        justify-content: space-around;
        margin-top: 4%;
        max-height: 80%;
    }

    .purrfect_adventures {
        
      font-size: 3rem;
      max-width: 100%;
      word-break:keep-all;
      text-align: center;

      font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 109%;
/* or 105px */

text-align: center;
letter-spacing: 0.02em;

/* White */

color: #FFFFFF;

    }
    .purrfect_adventures_under {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 142%;
/* or 28px */

text-align: center;

    }
    .header_nav {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 142%;
        /* or 28px */
        gap: 30px;
        
        
        /* White */
        
        color: #FFFFFF;
/* or 28px */


/* White */

    color: #FFFFFF;

    /*font-size: 0.5rem;*/
    }
    .header_number {
        /*font-size: 0.5rem;*/
        font-size: 20px;
        color: #1B1F2B;
    }
    
    .logo {
        height: 27px;
    }

    .logo_black_fixed {
        position: absolute;
        width: 181px;
        height: 30px;
        left: 57px;
    }

    .button1 {
        width: 11.5vmax;  height: 3.2vmax;
        /*padding: 5px 20px;*/
/* White */

background: #FFFFFF;
border-radius: 10px;
    }

    .button1_text {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 1.7vmax;
line-height: 142%;
/* or 24px */

letter-spacing: -0.01em;

/* Black */

color: #1B1F2B;
    }

    .header_number {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 142%;
/* or 28px */


/* White */

color: #FFFFFF;
    }

    .header_number_fixed {
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 142%;
    color: #1B1F2B;
    }

    .header {
        height: 100%;
        max-width: 1170px;
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items: center;
        margin-left: 57px;
        margin-right: 57px;
    }

    .header_nav_item_fixed {
        /*text-decoration: underline;*/
        font-size: 20px;
        color: #1B1F2B;
    }

    .inputs_container {
        max-width: 918px;
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .input {
        width: 347px;
    }

    textarea {
        max-width: 758px;
        }

    .review_box {
        max-width: 370px;
    }

    .Собери_свой_тур2 {
       
        margin-top: 0px;
    }

    .card_container {
    

        
        gap: 18px;

    }

    .card_container2 {
    
        margin-top: 100px;
        
        gap: 18px;
        row-gap:50px
    }

    .card_img_story {
    
        width: 918px;
    height: 567px;
    
    border-radius: 50px;
    }

    .picture_board-container{
        gap: 20px; 
    }

    .travel_photo-1 {
        width: 314.67px;
        height: 300px;
        border-radius: 50px;
    }

    .travel_photo-2 {
        display:none;
    }

    .travel_photo-3 {
        width: 314.67px;
        height: 300px;
        border-radius: 50px;
    }

    .travel_photo-4 {
        width: 314.67px;
        height: 300px;
        border-radius: 50px;
    }

    .travel_photo-5 {
        width: 231px;
        height: 301px;
        border-radius: 50px;
    }
    
    .travel_photo-6 {
        width: 231px;
        height: 301px;
        border-radius: 50px;
    }

    .travel_photo-7 {
        display:none;
    }

    .travel_photo-8 {
        width: 231px;
        height: 301px;
        border-radius: 50px;
    }

    .travel_photo-9 {
        width: 231px;
        height: 301px;
        border-radius: 50px;
    }

    .travel_photo-10 {
        width: 314.67px;
        height: 300px;
        border-radius: 50px;
    }

    .travel_photo-11 {
        width: 314.67px;
        height: 300px;
        border-radius: 50px;
    }

    .travel_photo-12 {
        width: 314.67px;
        height: 300px;
        border-radius: 50px;
    }

    .travel_photo-13 {
        display:none;
    }

    .review_container {
         margin-top: 50px;
         gap: 18px;
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
        padding: 0px;

        height: 88px;

        /* Beige 200 */

        background: #F4F0E9;
        max-width: 1168px;
        padding-left: 53px;
        padding-right: 53px;
        padding-top: 0px;
        padding-bottom: 0px;
        
        
    }

    .footer2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
        padding: 0px;

        height: 88px;

        /* Beige 200 */

        background: #F4F0E9;
        max-width: 918px;
        padding-left: 53px;
        padding-right: 53px;
        padding-top: 0px;
        padding-bottom: 0px;
        
        
    }

    .social {
        
        align-items: center;
    }

    .social_img{
        width: 26px;
        height: 26px;
    }
  }









  @media screen and (max-width: 360px) {


    .header {
        max-width: 360px;
        margin: 0px;
    }

    .purrfect_adventures {
    
        max-width: 100%;
        
        /*max-width: 310px;*/
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 109%;
        /* or 105px */
        
        text-align: center;
        letter-spacing: 0.02em;
        
        /* White */
        
        color: #FFFFFF;
    }

    .purrfect_adventures_under {
        font-size: 16px;
        width: 250px;
    }

    .Выбери_свой_тур {
    font-size: 34px;
    margin-top: 75px;
    }
    .Выбери_свой_тур2 {
        font-size: 34px;
        margin-top: 75px;
        }

    .Выбери_свой_тур-under {
        font-size: 16px;
    }

    .header_nav_item{
        position: absolute;
        display: none;
    }

    .header_number {
        font-size: 16px;
    }
    .logo {
        width: 133px;
        height: 22px;
    }

    .logo_black_fixed {
        left: 20px;
        width: 133px;
        height: 22px;
    }

    .button1 {
        /*width: 32vmax;  height: 9vmax;*/
        width: 114px; height: 33px;
        background: #FFFFFF;
        border-radius: 10px;
    }


    .button1_text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        /*font-size: 4.5vmax;*/
        font-size:16px;
        line-height: 142%;
        /* or 24px */

        letter-spacing: -0.01em;

        /* Black */

        color: #1B1F2B;
    }

    .align{
        margin-top: 75px;
    }

    .Собери_свой_тур {
        margin-top: 75px;
        font-size: 34px;
        max-width: 319px;
        justify-self: center;
        justify-content: center;
    }

    .Собери_свой_тур2 {
       
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    
    line-height: 124%;
    /* or 73px */

    text-align: center;

    /* Black */

    color: #1B1F2B;
        
        font-size: 34px;
        max-width: 319px;
        justify-self: center;
        justify-content: center;
        margin-top: 0px;
    }
    
    .Собери_свой_тур_under {
        font-size: 16px;
    }

    textarea {
        max-width: 278px;
    }

    .Найти_тур {
        width: 134px;
        height: 47px;
        font-size: 16px;
    }

    .Отмена {
        width: 134px;
        height: 47px;
        font-size: 16px;
    }

    .picture_board-container{
        gap: 18px 10px; 

        margin-top: 50px;
    }

    .travel_photo-1 {
        width: 150px;
        height: 110px;
        border-radius: 20px;
    }

    .travel_photo-2 {
        position: absolute;
        visibility: hidden;
        display: none;
    }

    .travel_photo-3 {
        position: absolute;
        visibility: hidden;
        display: none;
    }

    .travel_photo-4 {
        width: 150px;
        height: 110px;
        border-radius: 20px;
        margin-left: 8px;
    }

    .travel_photo-5 {
        width: 99.33px;
        height: 110px;
        border-radius: 20px;
    }

    .travel_photo-6 {
        position: absolute;
        visibility: hidden;
        display: none;
    }

    .travel_photo-7 {
        position: absolute;
        visibility: hidden;
        display: none;
    }

    .travel_photo-8 {
        width: 99.33px;
        height: 110px;
        border-radius: 20px;
    }

    .travel_photo-9 {
        width: 99.33px;
        height: 110px;
        border-radius: 20px;
    }

    .travel_photo-10 {
        width: 154px;
        height: 110px;
        border-radius: 20px;
    }

    .travel_photo-11 {
        width: 154px;
        height: 110px;
        border-radius: 20px;
    }

    .travel_photo-12 {
        position: absolute;
        visibility: hidden;
        display: none;
        
    }

    .travel_photo-13 {
        position: absolute;
        visibility: hidden;
        display: none;
        
    }

    .card_container {
    
        margin-top: 50px;
        
        gap: 18px;
        row-gap:18px
    }

    .card_container2 {
    
        margin-top: 50px;
        
        gap: 18px;
        row-gap:18px
    }

    .card_img {
        width: 318px;
        height: 318px;
        border-radius: 20px;
    }
        
    .card_text_top-top {
        font-size: 23px;
        max-width: 150px;
    }
        
    .card_text_top-bottom {
        font-size: 16px;
    }

    .footer_card_text-container-bottom {
        left: 30px;
        bottom: 30px;
        
        position: absolute;
        gap: 15px;
    }

    .card_img_gradient {
        width: 318px;
        height: 318px;
        border-radius: 20px;
    }

    .input {
        width: 278px;
    }

    .card_img_story {
        width: 318px;
        height: 455px;
        border-radius: 20px;
    }

    .card_story_text_top-bottom {
    font-size: 16px;
    
    }

    .footer_card_img_gradient {
        width: 318px;
        height: 455px;
        border-radius: 20px;
    }

    .review_box {
        max-width: 278px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        border-radius: 20px;
    }

    .card_text-container-top {
        top: 30px;
        left: 30px;
        
    }

    .card_text-container-bottom-right {
        visibility: hidden;
    }

    .margin2 {
        margin-top: 75px;
    }

    .footer{
        padding-left: 21px;
        padding-right: 21px;
    }

    .footer_img {
        height: 133px;
        width:130px;
        border-radius: 20px;
    }

    .footer_text-top {
        text-align: center;
        font-size: 23px;
    }

    .footer_text-bottom {
        text-align: center;
        font-size: 16px;
    }

    .footer2 {

        padding-left: 21px;
        padding-right: 21px;

        
        
    }


    .our_social {
        flex-grow: 0;
        margin-bottom: 7px;
        font-size: 16px;
        }

    .social_container {
         gap: 15px;
         
    }

    .social {
        font-size: 14px;
        align-items: center;
    }
    
    .social_img{
        width: 20px;
        height: 20px;
    }

  }

  